---
name: Issue Triage

on:
  issues:
    types:
    - opened

jobs:
  label-issues:
    runs-on: ubuntu-latest
    steps:
      - name: Apply Issue Triage Labels
        uses: github/issue-labeler@v2.5
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          configuration-path: .github/labeler-issues.yml
          enable-versioned-regex: 0
          include-title: 1
