---
name: Pull Request Target

on:
  pull_request_target:
    types:
    - opened
    - synchronize
    - reopened
    - edited
    - ready_for_review

env:
  IN_MAINTAINER_LIST: '${{ contains(secrets.MAINTAINER_LIST, github.actor) }}'

jobs:
  label-needs-review:
    runs-on: ubuntu-latest
    steps:
      - name: Apply Labels
        uses: actions/labeler@v4
        if: github.event.action == 'opened' && env.IN_MAINTAINER_LIST == 'false'
        with:
          configuration-path: .github/labels-pull-requests.yml
          repo-token: '${{ secrets.GITHUB_TOKEN }}'      
  label-size:
    runs-on: ubuntu-latest
    steps:
      - name: Apply Size Label
        uses: codelytv/pr-size-labeler@v1
        with:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          xs_label: size/xs
          xs_max_size: '10'
          s_label: size/s
          s_max_size: '100'
          m_label: size/m
          m_max_size: '500'
          l_label: size/l
          l_max_size: '1000'
          xl_label: size/xl
          fail_if_xl: 'false'
          message_if_xl: >-
            This pull request exceeds the recommended size of 1000 lines and
            might be rejected due to its size.

            Please make sure you are not addressing multiple issues in a pull
            request.
          github_api_url: api.github.com
  new-contributor:
    runs-on: ubuntu-latest
    steps:
      - name: Add Comment for New Contributors
        uses: actions/first-interaction@v1
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pr-message: >-
            Hello, @${{github.actor}}. :wave:

            It looks like this is your first pull request submission to the
            project! If you haven't already done, so please review the
            [CONTRIBUTOR](https://github.com/vmware-samples/power-validated-solutions-for-cloud-foundation/blob/main/CODE_OF_CONDUCT.md)
            guide to ensure your contribution adheres to the recommended
            practice and has all the necessary elements in place for a
            successful review.

            Thanks again, and welcome to the community! :smiley:
